---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Install in your local dev environment
# > pip install --upgrade --user pre-commit
# Enable the hooks for this repo
# > pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files # Check for large files
        exclude: |
          (?x)^(
                chromecast-receiver/cc-receiver-logo\.png|
                docs/chromecast-receiver/cc-receiver-logo\.png|
                media/cc-receiver-logo\.svg|
                testdata/.*|
                raceinfo/testdata-dolphin/.*
            )$
      - id: check-merge-conflict # Check for merge conflict strings
      - id: fix-byte-order-marker # Forbid utf-8 byte order marker
        exclude: |
          (?x)^(
                testdata/.*|
                raceinfo/testdata-dolphin/.*
            )$
      - id: end-of-file-fixer # Files end w/ newline
        exclude: |
          (?x)^(
                testdata/.*|
                raceinfo/testdata-dolphin/.*
            )$
      - id: trailing-whitespace # Trims trailing whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: |
          (?x)^(
                startlist_test\.py|
                testdata/.*|
                raceinfo/colorado_scb_test\.py|
                raceinfo/testdata-dolphin/.*
            )$

  - repo: https://github.com/adrienverge/yamllint
    rev: "v1.36.0"
    hooks:
      - id: yamllint
        args: ["--strict", "-c", ".github/yamllint-config.yml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.10.0"
    hooks:
      # Note: lint/fix before format
      - id: ruff # Run the linter.
      # args: [ --fix ]
      - id: ruff-format # Run the formatter.

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.6.6"
    hooks:
      - id: uv-lock

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "v0.44.0"
    hooks:
      - id: markdownlint

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: "39.192.0"
    hooks:
      - id: renovate-config-validator
        language_version: lts # Use the LTS version of Node.js
