---
name: "Update dependencies"

on:  # yamllint disable-line rule:truthy
  schedule:
    - cron: '43 16 * * 4'
  workflow_dispatch:

jobs:
  test:
    name: Update dependencies
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        # https://github.com/actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        # https://github.com/astral-sh/setup-uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          save-cache: ${{ github.ref == 'refs/heads/main' }}

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ".python-version"

      # Add Scripts directory to the path so that pipenv (and associated
      # utilities) can be used once installed
      - name: Add python Scripts directory to path
        shell: cmd
        # Code-page switch is needed to write the env file as utf-8
        run: |
          chcp 65001
          python -c "import site; print(site.USER_SITE.replace('site-packages', 'Scripts'))" >> %GITHUB_PATH%
          chcp 1252

      - name: Update dependencies
        shell: bash
        run: uv lock --upgrade --resolution=highest --no-progress >& packages.txt

      - name: Create update text
        shell: bash
        run: |
          echo 'This is an automated update of the `uv.lock` file.' > updates.txt
          echo '' >> updates.txt
          echo '```' >> updates.txt
          cat packages.txt >> updates.txt
          echo '```' >> updates.txt

          cat updates.txt

          echo 'UPDATES<<EOF' >> $GITHUB_ENV
          cat updates.txt >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Create PR to update lockfile
        # https://github.com/peter-evans/create-pull-request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.PAT_TOKEN }}
          add-paths: |
            uv.lock
          branch: workflow/update-dependencies
          delete-branch: true
          author: 'GitHub <noreply@github.com>'
          commit-message: '[workflow] Update dependencies in uv.lock'
          signoff: true
          title: '[workflow] Update dependencies in lockfiles'
          labels: dependencies
          body: ${{ env.UPDATES }}
          draft: false  # Set to true to to prevent automerge by Mergify
